---
---


<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us - Code Haven Yale</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2 class="real-header">About</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<a href="#" class="image featured"><img src="images/about.jpg" alt="" /></a>
                                        <header>
											<h3><strong>What We Do </strong></h3>
										</header>
                                        <p>We are an undergraduate student organization at Yale University dedicated to introducing students to computer science starting at a young age. Every week, Yale students teach computing lessons at Fair Haven School, engaging the students with online lessons, group activities, and class-wide demonstrations.</p>
										<header>
											<h3><strong>History</strong></h3>
										</header>
										<p>
                                        Code Haven was started in Fall 2016. With support from Professor Dana Angluin, and Yale alum Nathaniel Granor ‘09, Annie Chen ‘19 and Dennis Duan ‘19 launched a pilot semester in Dave Weinreb’s sixth grade classroom at Fair Haven School. A group of 15 Yale students go weekly to Fair Haven to teach lessons using Code.Org’s curriculum. In October 2016, Code Haven <a href="http://cpsc.yale.edu/news/code-haven-receives-googles-ignitecs-funding"> received funding</a> from Google IgniteCS. </p>
										
									</section>
								</div>

						</section>
				</article>

            {% include footer.html %}
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>