---
---


<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us - Code Haven Yale</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2 class="real-header">About</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<div class="image featured slickify">
											<img src="images/about.jpg" alt="" />
											<img src="images/for-teachers1.jpg" alt="" />
											<img src="images/for-students1.jpg" />
										</div>
                                        <header>
											<h3><strong>What We Do</strong></h3>
										</header>
                                        <p>We are an undergraduate student organization at Yale University dedicated to introducing students to computer science starting at a young age. Every week, Yale students teach computing lessons at several schools in the New Haven district, engaging the students with online lessons, group activities, and class-wide demonstrations. Our organization receives teacher training from Lead Program Manager of Microsoft Teals, Nathaniel Granor (Yale alumnus ’09) and David Weinreb, a 6th grade teacher at Fair Haven School.</p>
										<header>
											<h3><strong>Our Impact</strong></h3>
										</header>
											<div class="image slickify" style="width: 75%; margin-left: 50%; transform: translateX(-50%);">
												<img src="images/impact/racial_demographics.png" alt="" />
												<img src="images/impact/gender_demographics.png" alt="" />
												<img src="images/impact/age_demographics.png" />
											</div>
										<header>
											<h3><strong>History</strong></h3>
										</header>
										<p>
                                        Code Haven was founded in Fall 2016 by Annie Chen ‘19 and Dennis Duan ‘19 with the support of Professor Dana Angluin and Yale alumnus Nathaniel Granor ‘09. A pilot semester was launched in Dave Weinreb’s sixth grade classroom at Fair Haven School, with 18 students and 16 mentors.
										
										In October 2016, Code Haven received funding from Google IgniteCS for its effort in impacting the local community through computer science mentorship. By the beginning of 2017, Code Haven grew into a student organization with over 25 members, serving nearly 100 students in New Haven and implementing a computer science curriculum in 7 middle-school classrooms.</p>

									</section>
								</div>

						</section>
				</article>

            {% include footer.html %}
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/slick-init.js"></script>

	</body>
</html>
