---
---


<!DOCTYPE HTML>

<html>
	<head>
		<title>TeachTech 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/teachtech.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>

    <link rel="icon" href="images/favicon.ico?v=1" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico?v=1" type="image/x-icon" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<!-- <header class="special container">
						<h2 class="real-header">TeachTech 2017 Resources</h2>
					</header> -->

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
                    <header><center><h2 class="special"><strong>Teachtech 2018</strong></h2></center></header>
										<!-- <div class="image featured slickify">
											<img src="images/Nathaniel Opening keynote.jpg" alt="" />
											<img src="images/Check In.jpg" alt="" />
											<img src="images/Scratch Workshop.jpg" />
										</div> -->
										<br/>
                    <p>Code Haven held our second TeachTech 2018 conference on Yale's campus on December 8th, 2018. We had 35+ attendees from Boston to New Haven, teaching Kindergarten to high school. We're sharing presentations and handouts from the conference so everyone can use them, whether you were at TeachTech or not!</p>
										
                    <br>
                    <h3><strong>Morning Keynotes</strong></h3>
                    <p>
                      <ul style="list-style-type:square">
                        <li>
                          Introduction and History of Code Haven
                          <ul style="list-style-type:disc">
                            <li>
                              <a href="https://drive.google.com/file/d/12wXXjOvaMXQP6OUzZO2fi-VonN9y9-xl/view?usp=sharing">Slides</a> 
                              <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                            </li>
                          </ul>
                        </li>
                        <li>
                           Opening Keynote by Nathaniel Granor, Lead Program Manager, East Region, TEALS
                          <ul style="list-style-type:disc">
                            <li>
                              <a href="https://1drv.ms/p/s!AtPp1ZkrhD9Wk_BsVRqyqWQcFuwEKg">Slides</a> 
                              <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                            </li>
                          </ul>
                        </li>
                        <li>
                           Hello, World! Coding Fundamentals and How to Teach Them
                          <ul style="list-style-type:disc">
                            <li>
                              <a href="https://drive.google.com/file/d/1_aYOzF_653gsxgNeVeCO6g7ickbluErB/view?usp=sharing">Slides</a> 
                              <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                            </li>
                          </ul>
                        </li>
                        
                      </ul>
                    </p>

                    

                    <br>
                    <h3><strong>Workshops - Session 1</strong></h3>
                    <ul style="list-style-type:square">
                      <li>
                         Unplugged Activities
                        <ul style="list-style-type:disc">
                          <li>
                            <a href="https://docs.google.com/presentation/d/1TPqynwCLFxrNyro3FTHDA4UmmMhMw07_xKwl3ySVHwc/edit?usp=sharing">Slides</a> 
                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul style="list-style-type:square">
                      <li>
                         Scratch
                        <ul style="list-style-type:disc">
                          <li>
                            <a href="https://docs.google.com/presentation/d/17HI74w_ntuYGeGAF2DB52WMxFe3gp4gk6C8DwpMlfHk/edit?usp=sharing">Slides</a> 
                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul style="list-style-type:square">
                      <li>
                         Code.org
                        <ul style="list-style-type:disc">
                          <li>
                            <a href="https://drive.google.com/file/d/1qlWAgcx2p4CTUrQT7toQyZPPgQtuvolX/view?usp=sharing">Slides</a> 
                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                          </li>
                        </ul>
                      </li>
                    </ul>

                    <br>
                    <h3><strong>Workshops - Session 2</strong></h3>
                    <ul style="list-style-type:square">
                      <li>
                        CS Integration with Rachel Smith
                        <ul style="list-style-type:disc">
                          <li>
                            <a href="https://docs.google.com/presentation/d/1PNaVjFBof7mcfY5vPWPiW06jCpZjZY7k-K6GwGP6Ggg/edit?usp=sharing">Slides</a> 
                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul style="list-style-type:square">
                      <li>
                        MIT App Inventor Workshop
                        <ul style="list-style-type:disc">
                          <li>
                            <a href="https://docs.google.com/presentation/d/1kr2eMQwJPpztv8u08jpTSsxTvXoU8OlCpPi8AOLw23s/edit?usp=sharing">Slides</a> 
                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                          </li>
                        </ul>
                      </li>
                    </ul>

                    <br>
                    <h3><strong>Handouts</strong></h3>
                    <li>
                      <a href="https://drive.google.com/file/d/1m3DP0cuiRNNWARtW8mzAe8CPHNLigHwY/view?usp=sharing">TeachTech Resources Handout</a>
                    </li>
                    <li>
                      <a href="https://drive.google.com/file/d/1sEHudSud83arhy9dte6ojGGihmD-6hcL/view?usp=sharing">Design Thinking Resources</a>
                    </li>
                    <li>
                      <a href="https://drive.google.com/file/d/13gHkoLe7EXFcWdchQHNqBSvyUpZAb8Ks/view?usp=sharing">Hello World Cheat Sheet</a>
                    </li>

                    <br>
                    <h3><strong>General </strong></h3>
                    <li>
                      <a href="https://www.eventbrite.com/e/teachtech-2018-learn-to-teach-computer-science-tickets-52551730641#">Eventbrite Link</a>
                    </li>

								</div>
                <!-- <div class="image featured slickify">
                  <img src="images/tt18/keynote.JPG" alt="" />
                  <img src="images/Check In.jpg" alt="" />
                      <img src="images/Scratch Workshop.jpg" />
                </div> -->
						</section>
            
				</article>

            {% include footer.html %}
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/slick-init.js"></script>

	</body>
</html>
