---
---


<!DOCTYPE HTML>

<html>

<head>
    <title>TeachTech 2020</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/teachtech.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" />

    <link rel="icon" href="images/favicon.ico?v=1" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico?v=1" type="image/x-icon" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="no-sidebar">
    <div id="page-wrapper">

        {% include header.html %}

        <!-- Main -->
        <article id="main">

            <!-- <header class="special container">
						<h2 class="real-header">TeachTech 2017 Resources</h2>
					</header> -->

            <!-- One -->
            <section class="wrapper style4 container">

                <!-- Content -->
                <div class="content">
                    <section>
                        <header>
                            <center>
                                <h2 class="special"><strong>Teachtech 2020</strong></h2>
                            </center>
                        </header>
                        <!-- <div class="image featured slickify">
											<img src="images/Nathaniel Opening keynote.jpg" alt="" />
											<img src="images/Check In.jpg" alt="" />
											<img src="images/Scratch Workshop.jpg" />
										</div> -->
                        <br />
                        <p>Code Haven held our third TeachTech 2020 conference on Yale's campus on January 25th, 2020.
                            We had 35+ teachers attending from Brooklyn to New Haven, teaching Kindergarten to high
                            school. We're sharing our presentations and handouts from the conference so everyone can use
                            them, whether you were at TeachTech or not!</p>

                        <br>
                        <h3><strong>Morning Keynotes</strong></h3>
                        <p>
                            <ul style="list-style-type:square">
                                <li>
                                    Introduction and History of Code Haven
                                    <ul style="list-style-type:disc">
                                        <li>
                                            <a
                                                href="https://drive.google.com/open?id=1K6ZiaQNCDXVhyIwowbqc6VBdgaRkChqr54vyaMPmkZ4">Slides</a>
                                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Opening Keynote by Nathaniel Granor: The What and Why of Computer Science
                                    <ul style="list-style-type:disc">
                                        <li>
                                            <a href="https://tinyurl.com/teachtech2020">Slides</a>
                                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Hello, World! Coding Fundamentals and How to Teach Them
                                    <ul style="list-style-type:disc">
                                        <li>
                                            <a
                                                href="https://drive.google.com/open?id=1IOdLwVDZXv0D4RGUI-i6yXKBv6_dkCtq">Slides</a>
                                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </p>



                        <br>
                        <h3><strong>Workshops - Session 1</strong></h3>
                        <ul style="list-style-type:square">
                            <li>
                                Unplugged Activities
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1Z6Hs2was9soN2NUKXDPnRcFD41dKRjQDzvh0eyC0NXs">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul style="list-style-type:square">
                            <li>
                                Scratch
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=17HI74w_ntuYGeGAF2DB52WMxFe3gp4gk6C8DwpMlfHk">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul style="list-style-type:square">
                            <li>
                                Robots
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1JamZBOWnwhl_rDDE2Rf9xdJDEDV3-q_msoowLZNInu4">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul style="list-style-type:square">
                            <li>
                                Google CS First
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1todP-0TBrPCpcISFm-sU9upbO-HGFY_PvYRV77pGdN8">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>




                        <br>
                        <h3><strong>Workshops - Session 2</strong></h3>
                        <ul style="list-style-type:square">
                            <li>
                                Code.org
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1Uwn93PBvUXiDzJ7sCC3Z66PWRlUvcQ3n5iRNe29-OB0">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                    <ul style="list-style-type:disc">
                                        <li>
                                            <a
                                                href="https://drive.google.com/open?id=18LHEi6iU7lg6p-yyCKhARr5j829QT4O7C_zHEQSgfVE">Making
                                                a code.org classroom</a>
                                            <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                        </li>
                                    </ul>
                                </ul>
                            </li>

                        </ul>
                        <ul style="list-style-type:square">
                            <li>
                                Language Processing
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1Ssl9envJmuPXKcLvCPUdtPsIE7C59E3dUdIgYEYXTmg">Slides</a>

                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                    <li>
                                        <a
                                            href='https://drive.google.com/open?id=1aAzW5-Zo6q2Vowdurgx-pjuz0Z9cozCE'>Materials</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul style="list-style-type:square">
                            <li>
                                MIT App Inventor
                                <ul style="list-style-type:disc">
                                    <li>
                                        <a
                                            href="https://drive.google.com/open?id=1vibvsQbGXUIJiLymrslqjZr8-AIDcGnmVP_Pki1JqAY">Slides</a>
                                        <!-- | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <br>
                        <h3><strong>General</strong></h3>
                        <li>
                            <a href="https://drive.google.com/open?id=1-GQdR3Uq1w3ZxTEehFe3w2yZQK_Ysdt2gVk6XvOZ67U">Self-Selection
                                in CS
                        </li>
                        <li>
                            <a
                                href="https://drive.google.com/file/d/1l68D6tnI0sV8CtknZFBWblpUu_5t6Hij/view?usp=sharing">Final
                                Pamphlet</a>
                        </li>


                </div>
                <!-- <div class="image featured slickify">
                  <img src="images/tt18/keynote.JPG" alt="" />
                  <img src="images/Check In.jpg" alt="" />
                      <img src="images/Scratch Workshop.jpg" />
                </div> -->
            </section>

        </article>

        {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollgress.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/slick-init.js"></script>

</body>

</html>