---
---


<!DOCTYPE HTML>

<html>
	<head>
		<title>TeachTech 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/teachtech.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>

    <link rel="icon" href="images/favicon.ico?v=1" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico?v=1" type="image/x-icon" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<!-- <header class="special container">
						<h2 class="real-header">TeachTech 2017 Resources</h2>
					</header> -->

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
                    <header><center><h2 class="special"><strong>Teachtech 2018</strong></h2></center></header>
										<!-- <div class="image featured slickify">
											<img src="images/Nathaniel Opening keynote.jpg" alt="" />
											<img src="images/Check In.jpg" alt="" />
											<img src="images/Scratch Workshop.jpg" />
										</div> -->
										<br/>
                    <p>We're excited to announce the TeachTech 2018 conference to be held on Yale's campus on December 8th, 2018. We will be hosting conference resources here afterwards!</p>
										
								</div>
						</section>
				</article>

            {% include footer.html %}
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/slick-init.js"></script>

	</body>
</html>
