---
---


<!DOCTYPE HTML>

<html>
	<head>
		<title>TeachTech 2017 Resources</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/teachtech.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2 class="real-header">TeachTech 2017 Resources</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<div class="image featured slickify">
											<img src="images/Nathaniel Opening keynote.jpg" alt="" />
											<img src="images/Check In.jpg" alt="" />
											<img src="images/Scratch Workshop.jpg" />
										</div>
										<br/>
                    <p>Thank you to everyone who joined us at TeachTech 2017! The following is a list of all the videos/slides/resources that were covered at the conference. Please email codehavenyale@gmail.com if you have any questions!</p>
										<h3><strong>Schedule</strong></h3>
										<p>
											<ul style="list-style-type:square">
												<li>
													Introduction and History of Code Haven
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1ztVQA0vS4gDn3dF7YcTmKIs5lPOYGXb5BXAIACpBWx8/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=zuHP3t7q3zI&t=375s">Video</a>
														</li>
													</ul>
												</li>
												<li>
													Opening Keynote: Why You Should Teach Computer Science by Nathaniel Granor
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/13jB8dj68uM_QRF-LpVQabXvV9mq8vUofRm30J9OgVIo/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=1udimUSDEag">Video</a>
														</li>
													</ul>
												</li>
												<li>
													Hello, World! Coding Fundamentals and How to Teach Them
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1BN9v2RAT4QO0Hu3plaQnM29B_fB-Q7vK6VrY_rgkiFs/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=LBQG0R6OM3E&t=2739s">Video</a>
														</li>
													</ul>
												</li>
												<li>
													Code.org Technical Workshop
													<ul style="list-style-type:disc">
														<li>
															<a href="https://drive.google.com/file/d/18qxus8pyswouX3Zm2wyBMbQHYWKRot1e/view?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=6sjSIKMLIcc&t=629s">Video</a>
														</li>
													</ul>
												</li>
												<li>
													MIT App Inventor Technical Workshop
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1NFaLDyQonacsrmbLXJuxh85TnOXkutOQQLxN1SsV1vc/edit?usp=sharing">Slides</a> 
														</li>
													</ul>
												</li>
												<li>
													Scratch Technical Workshop
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1YyZS8ubSDEiD58bGVkvUZxdTdP0IxCv0rNtVFCXDBZA/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=vMnm9m7wsis&t=1036s"> Video</a>
														</li>
													</ul>
												</li>
												<li>
													Unplugged Activities Technical Workshop
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1vSHFNpY_6ton-ftrf4Yvu6MrMWZjHV-NVgOGBi0PRI4/edit?usp=sharing">Slides</a> 
														</li>
													</ul>
												</li>
												<li>
													Case Study with Kristina Waldron: Planning a Computer Science Event for Elementary School Students
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1yuP_xmhmQcUcTSK12KJVJKJgK6q0CnaYxfa68nxoLTE/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=Y4LIxVJ3vww">Video</a>
														</li>
													</ul>
												</li>
												<li>
												Case Study with Jason Ward: Robotics in an Elementary School Classroom
													<ul style="list-style-type:disc">
														<li>
															<a href="https://www.youtube.com/watch?v=ok2FQbJ9omQ">Video</a>
														</li>
													</ul>
												</li>
												<li>
													Case Study with Dr. Heidi Gold-Dworkin: Organizing After
	School Coding Programs
													<ul style="list-style-type:disc">
														<li>
															<a href="https://drive.google.com/file/d/1qs8b4OEAUYwHMf4-kO1ehLX2He1zugJN/view?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=bL60N1ZCu4c">Video</a>
														</li>
													</ul>
												</li>
												<li>
													Case Study with Gregory Mittleider: Implementing a Computer Science Curriculum in the Middle School Classroom
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1dFK1fHoDzHCPWhD8Si32Z5Tpe1wthe5AcNyDoeK8vlE/edit?usp=sharing">Slides</a> 
														</li>
													</ul>
												</li>
												<!-- <li>
													Question and Answer with Case Study Presentors
													<ul style="list-style-type:disc">
														<li>
															<a href="tbd">Slides</a> | <a href="tbd">Video</a>
														</li>
													</ul>
												</li> -->
												<li>
													Closing Keynote: Diversity in CS
													<ul style="list-style-type:disc">
														<li>
															<a href="https://docs.google.com/presentation/d/1DMOy397bEQ8ASCMXFUwHDpf-u2bT3kEIvcsEtsEwr_0/edit?usp=sharing">Slides</a> | <a href="https://www.youtube.com/watch?v=kThCKH5Cfnw">Video</a>
														</li>
													</ul>
												</li>
											</ul>
										</p>
										<br>
										<h3><strong>Handouts</strong></h3>
										<p>
											<ul style="list-style-type:square">
												<li>
													<a href="https://drive.google.com/file/d/0BwGCnnKbEPi_WVdGbWtfS0RySnFQMWpBU2ZUQW9FbE5rY2Zv/view?usp=sharing">Pamphlet with Speaker Bios</a>
												</li>
												<li>
													<a href="https://drive.google.com/file/d/1_uPMSA9rgRMHaRdxPjK7VXn0oK1lMdCi/view?usp=sharing">Event Itinerary</a>
												</li>
												<li>
													<a href="https://drive.google.com/file/d/1PK84xpRiwtK7Ls1_4_w6SeM4FcQpiLRk/view?usp=sharing">Resources Page</a>
												</li>
											</ul>
										</p>

										<br>
										<h3><strong>General Links</strong></h3>
										<p>
											<ul style="list-style-type:square">
												<li>
													<a href="/teachtechinvite.html">Original Invite</a>
												</li>
												<li>
													<a href="https://www.eventbrite.com/e/teachtech-learn-to-teach-computer-science-tickets-39713362737#">Eventbrite Page</a>
												</li>
											</ul>
                  	</p>

									</section>
								</div>

						</section>
						<section id="cta">
								<header>
										<h2 style="text-transform: none; font-weight: bold">OUR SPONSORS</h2>
										<p>Thanks so much to the below companies, who generously sponsored TeachTech<span class="e"></span>!</p>
								</header>
								<div class="row">
										<div class="3u 12u(narrower)">
												<section>
														<div class="image">
																<a style="border-bottom: none" href="https://edu.sphero.com">
																		<img class="image partner-image" src="images/partners/sphero.png"></img>
																</a>
														</div>
												</section>
										</div>
                                        <div class="3u 12u(narrower)">
												<section>
														<div class="image">
																<a  style="border-bottom: none" href="https://www.buildpiper.com/">
																		<img class="image partner-image" src="images/partners/piper.png"></img>
																</a>
														</div>
												</section>
										</div>
										<div class="3u 12u(narrower)">
												<section>
														<div class="image">
																<a style="border-bottom: none" href="https://www.makeymakey.com/">
																		<img class="image partner-image" src="images/partners/makey-makey.png"></img>
																</a>
														</div>
												</section>
										</div>
                                        <div class="3u 12u(narrower)">
												<section>
														<div class="image">
																<a style="border-bottom: none" href="https://www.teacherspayteachers.com/">
																		<img class="image partner-image" src="images/partners/teachers-pay-teachers.png"></img>
																</a>
														</div>
												</section>
										</div>
								</div>
						</section>
				</article>

            {% include footer.html %}
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/slick-init.js"></script>

	</body>
</html>
