<!-- okay this doesn't actually include the necessary css/js/sass/whatever
but i'm too scared to remove the inlcudes from the main html files so i guess
this'll have to do -->

<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo" style="opacity: 0"><a>Code Haven</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html"><h1>Home</h1></a></li>
            <li><a href="about.html">About</a></li>
            <li class="submenu">
                <a href="#">Join</a>
                <ul>
                    <li><a href="join-students.html">For Yale Students</a></li>
                    <li><a href="join-teachers.html">For Teachers</a></li>
                </ul>
            </li>
            <li><a href="team.html">Our Team</a></li>
            <li class="submenu">
                <a href="#">Events</a>
                <ul>
                    <li><a href="teachtechrecap.html">TeachTech 2017</a></li>
                    <li><a href="projectfairrecap.html">Project Fair 2018</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
